@font-face {
	src: url("fonts/ABCArizonaText-Thin.otf") format("opentype");
	font-family: "arizona";
}

@font-face {
	src: url("fonts/ABCArizonaSans-Regular.otf") format("opentype");
	font-family: "arizonasans";
}

/* HEADER / GENERAL FORMATTING */

header {
  padding:1.25rem;
  display: flex;
  justify-content: space-between;
}


h1 {
  margin: 0;
  font-size: 48px;
  font-family: "odile-deco-initials";
  color: #535A6F;
  font-weight: lighter;
}

h2 {
  margin:0;
  font-size: 32px;
  font-family: "odile";
  color: #535A6F;
  font-weight: lighter;
  margin-right: 2rem;
}

body {
  background-color: #FAF4F2;
}

.information {
  display: flex;
}


/* ACCORDIONS */

.btn-wrapper button {
  font-family: "odile";
  font-size: 20px;
  background: #535A6F;
  color: #FAF4F2;
  width: 100%;
  padding: 15px 30px;
  border: 0;
  outline: 0 !important;
  text-align: left;
}

.collapsing-div {
  font-family: "odile";
  font-size: 20px;
  color: #535A6F;
  display: grid;
  grid-column: 1fr 1fr;
}

span#color {
  display: flex;
}

div#color\ pink, div#color\ green {
  width:50px;
  height: 25px;
  border-radius: 5%;
  margin-right:10px;
}

div#color\ pink {
  background-color: #F5989E;
}

div#color\ green {
  background-color: #399A75;
}

.cls-1 {
  fill: #3c399a;
}

.cls-2 {
  fill: pink;
}

.cls-3 {
  fill: green;
}

