@font-face {
	src: url("fonts/ABCArizonaText-Thin.otf") format("opentype");
	font-family: "arizona";
}

@font-face {
	src: url("fonts/ABCArizonaSans-Regular.otf") format("opentype");
	font-family: "arizonasans";
}

/* HEADER / GENERAL FORMATTING */

body {
  padding-top: 2%;
  padding-left:3%;
  padding-right:3%;
  margin: 0;
}



.columns {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
}

#Layer_1 {
  width:477px;
  height:657px;
}

.lace {
  border:solid 1px #535A6F;
  padding:.5em;
  border-radius:100%;
}

.Valentine {
  position:relative;
}

#imageid {
  position:absolute;
  top:11px;
  left:9px;
}

header {
  padding:1.25rem;
  display: flex;
  justify-content: space-between;
}


h1 {
  margin: 0;
  font-size: 48px;
  font-family: "odile-deco-initials";
  color: #535A6F;
  font-weight: lighter;
}

h2 {
  margin:0;
  font-size: 32px;
  font-family: "odile";
  color: #535A6F;
  font-weight: lighter;
  margin-right: 2rem;
}

body {
  background-color: #afafaf;
}

.information {
  display: flex;
}


/* ACCORDIONS */

.btn-wrapper button {
  font-family: "odile";
  font-size: 20px;
  background: #535A6F;
  color: #FAF4F2;
  width: 100%;
  padding: 15px 30px;
  border: 0;
  outline: 0 !important;
  text-align: left;
}

.collapsing-div {
  font-family: "odile";
  font-size: 20px;
  color: #535A6F;
  display: grid;
  grid-column: 1fr 1fr;
}

span#color {
  display: flex;
}

button {
  all:unset;
}



div#color\ pink, div#color\ green, div#color\ navy, div#color\ gold {
  width:50px;
  height: 25px;
  border-radius: 5%;
  /* margin-right:10px; */
}

div#color\ pink {
  background-color: #F5989E;
}

div#color\ green {
  background-color: #399A75;
}

div#color\ navy {
  background-color: #394B5A;
}

div#color\ gold {
  background-color: #AC936E;
}

.test {
  fill: #F5989E;
}

.cls-2 {
  fill: #F5989E;
  width: 100%;
}

.cls-3 {
  fill: #399A75;
}

.cls-4 {
  fill: #394B5A;
}

.cls-5 {
  fill: #AC936E;
}

button.clr {
  margin-right:10px;
}

/* Style the buttons */
.clr {
  border: none;
  outline: none;
  /* padding: 10px 16px; */
  cursor: pointer;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active,
.clr:hover {
  /* color: white; */
  border:solid 1px red;
  border-radius: 5%;
}

/* ul > li {
  display: inline;
  padding: 1rem;
} */


/* collapsible */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color:#6D2C28;
  cursor: pointer;
  padding-top: 40px;
  padding-bottom:20px;
  width: 100%;
  border:none;
  border-bottom:solid 1px #6D2C28;
  text-align: left;
  outline: none;
  font-size: 18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #b01212;
}


