@font-face {
	src: url("fonts/ABCArizonaText-Thin.otf") format("opentype");
	font-family: "arizona";
}

@font-face {
	src: url("fonts/ABCArizonaSans-Regular.otf") format("opentype");
	font-family: "arizonasans";
}

/* HEADER / GENERAL FORMATTING */



body {
  padding-top: 2%;
  padding-left:3%;
  padding-right:3%;
  margin: 0;
}

p {
  all:none;
}

.columns {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  width:100%;
  margin-bottom:20px;
}

.columns p {
  background-color:#D9D9D9;
  padding:2%;
  margin:inherit;
  border-bottom:solid 1px #535A6F;
  font-family: "odile";
  color:#535A6F
}

#Layer_1 {
  width:477px;
  height:657px;
}

.col2, .col3 {
  border:solid 1px #535A6F;
}

.lace {
  border:solid 1px #535A6F;
  padding:.5em;
  border-radius:100%;
  margin-top:1em;
  margin-bottom:1em;
  font-family: "odile";
  color:#535A6F;
}

.title {
  border-top:solid 1px #535A6F;
}

#color {
  padding:1em;
}

span#doily {
  margin-left:1em;
}

.Valentine {
  position:relative;
  display:inline-block;
}

#imageid {
  position:absolute;
  left:0px;
}

header {
  padding-bottom:1.25rem;
  display: flex;
  justify-content: space-between;
}


h1 {
  margin: 0;
  font-size: 28px;
  font-family: "odile-deco-initials";
  color: #535A6F;
  font-weight: lighter;
}

h2 {
  margin:0;
  font-size: 28px;
  font-family: "odile";
  color: #535A6F;
  font-weight: lighter;
  margin-left: 2rem;
  text-align: right;
}

body {
  background-color: #FAF4F2;
}

.information {
  display: flex;
  text-align: right;
}


/* ACCORDIONS */

.btn-wrapper button {
  font-family: "odile";
  font-size: 20px;
  background: #535A6F;
  color: #FAF4F2;
  width: 100%;
  padding: 15px 30px;
  border: 0;
  outline: 0 !important;
  text-align: left;
}

#upperborder {
  width:100%;
  height:1px;
  background-color:#535A6F;
  margin-bottom:3%;
}

.collapsing-div {
  font-family: "odile";
  font-size: 20px;
  color: #535A6F;
  /* display: grid;
  grid-column: 1fr 1fr; */
}

span#color {
  display: flex;
}

button {
  all:unset;
}



div#color\ pink, div#color\ green, div#color\ navy, div#color\ gold {
  width:50px;
  height: 25px;
  /* border-radius: 5%; */
  /* margin-right:10px; */
}

div#color\ pink {
  background-color: #FAC5CE;
}

div#color\ green {
  background-color: #8FD0B2;
}

div#color\ navy {
  background-color: #8798BA;
}

div#color\ gold {
  background-color: #DFC4A0;
}

.test {
  fill: #FAC5CE;
}

.cls-2 {
  fill: #FAC5CE;
}

.cls-3 {
  fill: #8FD0B2;
}

.cls-4 {
  fill: #8798BA;
}

.cls-5 {
  fill: #DFC4A0;
}

button.clr {
  margin-right:10px;
}

/* Style the buttons */
.clr {
  border: none;
  outline: none;
  /* padding: 10px 16px; */
  cursor: pointer;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active,
.clr:hover {
  /* color: white; */
  border:solid 1px #535A6F;
  /* border-radius: 5%; */
}

/* ul > li {
  display: inline;
  padding: 1rem;
} */


/* collapsible */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  color:#FAF4F2;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom:20px;
  padding-left:20px;
  width: 100%;
  text-align: left;
  font-size: 18px;
}

.lace {
  cursor: pointer;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding-top: 18px;
  padding-bottom:18px;
  display: none;
  overflow: hidden;
}

#paris {
  margin-top:10px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top:2em;
  padding-bottom:2em;
  font-family: "odile";
  font-size: 16px;
  color: #535A6F;
}

.credits {
  text-align: right;
  grid-column-start:3;
}

button.green {
  background-color:#399A75;
}

button.pink {
  background-color:#F5989E;
}

button.gold {
  background-color:#AC936E;
}



/* sticker styles */

.mydiv {
  position: absolute;
  z-index: 9;
  background-color: none;
  text-align: center;
  border: none;
  cursor: grab;
}

/* PRINT */

.print {
  outline: solid 1px #535A6F;
  padding:20px;
}

.print:hover {
background-color: #535A6F;
color:antiquewhite;
cursor: pointer;
}

.stickers {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  background:none;
  border:none;
}

.stickers img:hover {
  cursor:pointer;
}


#guests {
  color:#393f52;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "odile-deco-initials";
}

div#draggable.ui-widget-content.ui-draggable.ui-draggable-handle, div#drag2.ui-widget-content.ui-draggable.ui-draggable-handle, div#drag3.ui-widget-content.ui-draggable.ui-draggable-handle, div#drag4.ui-widget-content.ui-draggable.ui-draggable-handle, div#drag5.ui-widget-content.ui-draggable.ui-draggable-handle, div#drag6.ui-widget-content.ui-draggable.ui-draggable-handle, div#drag7.ui-widget-content.ui-draggable.ui-draggable-handle, div#drag8.ui-widget-content.ui-draggable.ui-draggable-handle, div#drag9.ui-widget-content.ui-draggable.ui-draggable-handle, div#drag10.ui-widget-content.ui-draggable.ui-draggable-handle, div#drag11.ui-widget-content.ui-draggable.ui-draggable-handle, div#drag12.ui-widget-content.ui-draggable.ui-draggable-handle, div#drag13.ui-widget-content.ui-draggable.ui-draggable-handle, div#drag14.ui-widget-content.ui-draggable.ui-draggable-handle {
  border:none;
  background:none;
}

form {
  font-family: "odile";
  color:#535A6F;
}

.print {
  font-family:"odile";
  color:#535A6F;
}

#information h2 {
  position:relative;
  cursor:pointer;
}

.infotext {
  display:none;
}

#information:hover .infotext {
  display:block;
  position:fixed;
  top:2em;
  right:3em;
  background-color:#FAC5CE;
  width:20%;
  text-align:left;
  font-family: "odile";
  color:#535A6F;
  padding:1em;
  font-size: calc(9px + .5vw);
  z-index: 2;
}

.symbolgrid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: solid 1px #399A75;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: #399A75;
}

.item {
  background-color:#FAF4F2;
  width:100%;
}

/* 
.symbolexplainerone {
  display:none;
}
.symbolgrid:hover .symbolexplainerone {
  color:red;
  display:block;
}

.stickers#draggable:hover {
  border:red solid 1px;
}
 */

@media only screen and (max-width:801px) {
  .description {
    font-size: calc(15px + 3vw);
  }

  .columns {
    grid-template-columns: 1fr;
  }

  header {
    display:block;
    text-align: center;
  }

  .information {
    display:block;
    text-align:center;
  }

  #information h2 {
    position:relative;
    cursor:pointer;
  }
  
  .infotext {
    display:block;
    color:#535A6F;
    font-family: "odile";
    margin-top:1em;
  }
  
  #information:hover .infotext {
    display:none;
  }
  
  #datetime {
    display:none;
  }

  h1 {
    margin-bottom: 1em;
  }

  h2 {
    display:none;
  }
  
}

@media only screen and (max-width:600px) {

  .col2 {
    display:none;
  }
}

@media print {
  .col3 {
    display:none;
  }

  header, footer, .accordion-wrapper {
    display:none;
  }

  .col2 {
    border:none;
  }

  .col2 p {
    display:none;
  }


}