html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container-left {
  width: 150px;
  height: 330px;
  float: left;
  background-color: #fff;
}

#container {
  width: 800px;
  height: 550px;
  float: left;
  background-color: #ff1;
  display: initial;
  margin: auto;
  box-sizing: border-box;
  
}

svg {
  overflow: visible;
}

svg:hover {
  cursor: grab;
}

/* Demo stuff */

h3 {
  text-align: center;
  font-family: Helvetica;
  line-height: 1.7rem;
  /* Prevent users from selecting demo text */
  user-select: none;
}

.explain {
  width: 50%;
  float: right;
}

/* Hide the explainer text on small screens */
@media (max-width: 100rem) {
  .explain {
    display: none;
  }
}
